@page "/test"


<h3>test</h3>

<ContactList Contacts="contacts">
    <NullContacts>
        <br />
        <span>Contacts are Loading...(from TestPage Razor)</span>
        <br />
    </NullContacts>
    <EmptyContacts>
        <br />
        <span>No contacts to display (from TestPage Razor)</span>
        <br />
    </EmptyContacts>
</ContactList>

<br />

<MyTextBox PlaceHolder="Placeholder 01" type="text" disabled="disabled"></MyTextBox>

@code {
    private List<Contact> contacts;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        contacts = new List<Contact>
        {
        new Contact
            {
                firstName = "Pierre",
                lastName = "Bossis",
                email = "pbossis@hotmail.com"
            },
        new Contact
            {
                firstName = "My",
                lastName = "Thomies",
                email = "mthomies@hotmail.com"
            },
        new Contact
            {
                firstName = "Ivan",
                lastName = "Abela",
                email = "iabela@hotmail.com"
            },
        new Contact
            {
                firstName = "Adrien",
                lastName = "Adam",
                email = "aadam@hotmail.com"
            }
        };
        base.OnInitializedAsync();
    }
}
