@page "/test"


<h3>test</h3>

@*<input type="checkbox" @onchange="@(()=>{DisplayEmail=!DisplayEmail;} )" /><label>Display Email</label>*@

<input type="checkbox" @bind="DisplayEmail" /><label>Display Email</label>

@foreach (var contact in contacts)
{
    <ContactComponent01 CurrentContact="contact" DisplayEmail="@DisplayEmail" DeleteCurrentContact="DeleteContact"></ContactComponent01>
}

<br />

<MyTextBox PlaceHolder="Placeholder 01" type="text" disabled="disabled"></MyTextBox>

@code {
    private bool DisplayEmail = false;
    private List<Contact> contacts;

    private void DeleteContact(Contact contact)
    {
        contacts.Remove(contact);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        contacts = new List<Contact>
        {
        new Contact
            {
                firstName = "Pierre",
                lastName = "Bossis",
                email = "pbossis@hotmail.com"
            },
        new Contact
            {
                firstName = "My",
                lastName = "Thomies",
                email = "mthomies@hotmail.com"
            },
        new Contact
            {
                firstName = "Ivan",
                lastName = "Abela",
                email = "iabela@hotmail.com"
            },
        new Contact
            {
                firstName = "Adrien",
                lastName = "Adam",
                email = "aadam@hotmail.com"
            }
        };
    }
}
